<section class="border-l-2 border-slate-200">
    <!-- who to follow -->
    <div class="sticky flex flex-col w-full gap-4 p-2 mt-4 rounded-lg top-20">
        <div class="text-2xl font-bold">
            You might like
        </div>
        % for suggested_follower in suggested_followers:
        <a href="/{{suggested_follower['username']}}" class="border-2 hover:bg-grey hover:bg-opacity-10">
            <img src="/avatars/{{suggested_follower['id']}}.jpg" class="w-12 h-12 rounded-full">
            <div>{{suggested_follower["first_name"] + suggested_follower["last_name"]}}</div>
            <div>@{{suggested_follower['username']}}
            </div>
        </a>
        % end
</section>

</body>

</html>