% include("header", title=title, profile_active='class="active"', logged_in_user=logged_in_user)
<div class="flex flex-grow">
    <div class="flex flex-row w-full md:w-[600px] lg:w-[920px] xl:w-[990px] justify-between">
        <div class="w-auto md:w-[600px] min-h-screen h-full border-x border-solid border-gray-100 dark:border-dim-border">
            <div class="flex flex-col items-center gap-6 pt-6">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="w-12 fill-gold">
                    <g>
                        <path d="M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z">
                        </path>
                    </g>
                </svg>
                <p>Becoming a GOLD member comes with great advantages</p>
                % if logged_in_user["user_gold_at"] == 0:
                <div id="step-1" class="flex flex-col items-center w-full gap-6">
                    <p class="w-full text-left">1. Clik on the button underneath. A text message will be sent to your mobile phone. It may take up to 5 minutes.</p>
                    <button onclick="send_gold_code()" class="p-4 text-white rounded-full bg-twitter">Send GOLD code to my mobile phone</button>
                </div>
                <div id="step-2" class="flex-col items-center hidden w-full gap-6">
                    <p class="w-full text-left">2. Enter the code you received in your mobile phone</p>
                    <div>
                        <input class="w-16 h-20 p-4 text-3xl text-center border rounded dark:text-black" type="text" id="digit-1" maxlength="1">
                        <input class="w-16 h-20 p-4 text-3xl text-center border rounded dark:text-black" type="text" id="digit-2" maxlength="1">
                        <input class="w-16 h-20 p-4 text-3xl text-center border rounded dark:text-black" type="text" id="digit-3" maxlength="1">
                        <input class="w-16 h-20 p-4 text-3xl text-center border rounded dark:text-black" type="text" id="digit-4" maxlength="1">
                    </div>
                    <p class="w-full text-left">3. Once you have entered the code, click on the button underneath</p>
                    <button onclick="verify_gold_code()" class="p-4 text-white rounded-full bg-twitter">Verify Code</button>
                </div>
                % end
                <div id="gold-member" class="{{'hidden' if logged_in_user['user_gold_at'] == 0 else 'flex'}} w-full flex-col items-center"><p>You are now a gold member.</p></div>
            </div>
        </div>
% include("right", suggested_followers=suggested_followers);
    </div>
</div>
% include("footer")