<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <title>{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.jpg">
</head>

<body class="grid md:grid-cols-[1fr_275px_600px_350px_1fr] grid-cols-[68px_1fr] min-h-screen">
    <nav class="grid justify-center border-r-2 md:col-start-2 border-slate-200">
        <ul class="grid items-start content-start list-none gap-y-1">
            <li class="">
                <a href="/"
                    class="grid items-center grid-flow-col p-3 mt-1 rounded-full w-min auto-cols-min hover:bg-twitter hover:bg-opacity-10">
                    <svg width="32" height="32" viewBox="0 0 24 24" class="w-7 fill-twitter">
                        <path
                            d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z" />
                    </svg>
                </a>
            </li>
            <li class="grid">
                <a href="/"
                    class="grid items-center grid-flow-col gap-2 p-3 rounded-full w-min auto-cols-min hover:bg-grey hover:bg-opacity-10"><svg
                        viewBox="0 0 24 24" aria-hidden="true" width="32" height="32" class="w-7">
                        <g>
                            <path
                                d="M12 1.696L.622 8.807l1.06 1.696L3 9.679V19.5C3 20.881 4.119 22 5.5 22h13c1.381 0 2.5-1.119 2.5-2.5V9.679l1.318.824 1.06-1.696L12 1.696zM12 16.5c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z">
                            </path>
                        </g>
                    </svg><span class="hidden pr-5 text-xl font-bold md:inline">Home</span></a>
            </li>
            <li class="grid">
                <a href="/"
                    class="grid items-center grid-flow-col gap-2 p-3 rounded-full w-min auto-cols-min hover:bg-grey hover:bg-opacity-10"><svg
                        viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
                        <g>
                            <path
                                d="M10.09 3.098L9.72 7h5.99l.39-4.089 1.99.187L17.72 7h3.78v2h-3.97l-.56 6h3.53v2h-3.72l-.38 4.089-1.99-.187.36-3.902H8.78l-.38 4.089-1.99-.187L6.77 17H2.5v-2h4.46l.56-6H3.5V7h4.21l.39-4.089 1.99.187zM14.96 15l.56-6H9.53l-.56 6h5.99z">
                            </path>
                        </g>
                    </svg><span class="hidden pr-5 text-xl md:inline">Explore</span>
                </a>
            </li>
            <li class="grid">
                <a href="/"
                    class="grid items-center grid-flow-col gap-2 p-3 rounded-full w-min auto-cols-min hover:bg-grey hover:bg-opacity-10">
                    <svg viewBox="0 0 24 24" aria-hidden="true" width="32" height="32">
                        <g>
                            <path
                                d="M19.993 9.042C19.48 5.017 16.054 2 11.996 2s-7.49 3.021-7.999 7.051L2.866 18H7.1c.463 2.282 2.481 4 4.9 4s4.437-1.718 4.9-4h4.236l-1.143-8.958zM12 20c-1.306 0-2.417-.835-2.829-2h5.658c-.412 1.165-1.523 2-2.829 2zm-6.866-4l.847-6.698C6.364 6.272 8.941 4 11.996 4s5.627 2.268 6.013 5.295L18.864 16H5.134z">
                            </path>
                        </g>
                    </svg><span class="hidden pr-5 text-xl md:inline">Notifications</span>
                </a>
            </li>
        </ul>
    </nav>