% include("header", title=title, profile_active='class="active"', logged_in_user=logged_in_user)
<div class="flex flex-grow">
    <div class="flex flex-row w-full md:w-[600px] lg:w-[920px] xl:w-[990px] justify-between">
        <div class="w-auto md:w-[600px] min-h-screen h-full border-x border-solid border-gray-100 dark:border-dim-border">
            <div class="flex flex-col">
                <div class="sticky top-0 z-20 flex bg-white dark:bg-dim bg-opacity-80 backdrop-blur-md">
                    <a href="/" class="flex justify-center pl-4">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="rounded-full w-7 hover:bg-gray-100">
                            <g>
                                <path d="M7.414 13l5.043 5.04-1.414 1.42L3.586 12l7.457-7.46 1.414 1.42L7.414 11H21v2H7.414z">
                                </path>
                            </g>
                        </svg>
                    </a>
                    <div class="flex flex-col ">
                        <h1 class="flex pl-12 text-xl font-bold"> {{user["user_first_name"] + " " + user["user_last_name"]}} <svg
                                viewBox="0 0 24 24" aria-label="Verified account" role="img" class="w-5 fill-twitter">
                                <g>
                                    <path
                                        d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z">
                                    </path>
                                </g>
                            </svg>
                        </h1>
                        <p class="pl-12 text-sm text-gray-500">{{user["user_total_tweets"]}} Tweets</p>
                    </div>
                </div>
                <div class="relative z-0">
                    <img src="/banners/{{user['user_id']}}.jpg" alt="">
                    <img src="/avatars/{{user['user_id']}}.jpg" alt=""
                        class="absolute bottom-0 translate-y-1/2 border-4 border-white rounded-full w-36 left-6">
                </div>
                <div class="flex items-start justify-end h-20 px-4 py-2">
                    <svg viewBox="0 0 24 24" aria-hidden="true" class="w-7">
                        <g>
                            <path
                                d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z">
                            </path>
                        </g>
                    </svg>
                    % if logged_in_user and logged_in_user["user_id"] != user["user_id"]:
                    <button class="px-3 py-1.5 text-white bg-black rounded-full font-bold inline" data-user="{{user['user_id']}}" onclick="follow_unfollow()">{{"Unfollow" if followed else "Follow"}}</button>
                    % end
                </div>
                <div class="flex flex-col">
                    <h1 class="flex text-lg font-bold">{{user["user_first_name"] + " " + user["user_last_name"]}} <svg viewBox="0 0 24 24"
                            aria-label="Verified account" role="img" class="w-5 fill-twitter">
                            <g>
                                <path
                                    d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z">
                                </path>
                            </g>
                        </svg>
                    </h1>
                    <p>@{{user["user_name"]}}</p>
                    <div class="flex">
                        <svg viewBox="0 0 24 24" aria-hidden="true" class="w-6">
                            <g>
                                <path
                                    d="M7 4V3h2v1h6V3h2v1h1.5C19.89 4 21 5.12 21 6.5v12c0 1.38-1.11 2.5-2.5 2.5h-13C4.12 21 3 19.88 3 18.5v-12C3 5.12 4.12 4 5.5 4H7zm0 2H5.5c-.27 0-.5.22-.5.5v12c0 .28.23.5.5.5h13c.28 0 .5-.22.5-.5v-12c0-.28-.22-.5-.5-.5H17v1h-2V6H9v1H7V6zm0 6h2v-2H7v2zm0 4h2v-2H7v2zm4-4h2v-2h-2v2zm0 4h2v-2h-2v2zm4-4h2v-2h-2v2z">
                                </path>
                            </g>
                        </svg>
                        <p>Joined June 2009</p>
                    </div>
                    <div class="flex">
                        <p><span id="profile_total_following" class="font-bold">{{user["user_total_following"]}}</span> Following</p>
                        <p><span id="profile_total_followers" class="font-bold">{{user["user_total_followers"]}}</span> Followers</p>
                    </div>
                    <p>Followed by Michelle Obama and 10 others you follow</p>
                </div>

                <div class="flex border-b-2 border-slate-200">
                    <button class="h-14 grow hover:bg-grey hover:bg-opacity-10">Tweets</button>
                    <button class="h-14 grow hover:bg-grey hover:bg-opacity-10">Tweets &amp; replies</button>
                    <button class="h-14 grow hover:bg-grey hover:bg-opacity-10">Media</button>
                    <button class="h-14 grow hover:bg-grey hover:bg-opacity-10">Likes</button>
                </div>
                <div><!-- Tweets start -->
                    % for tweet in tweets:
                    <div
                        class="flex px-4 border-b border-gray-100 cursor-pointer dark:border-dim-border hover:bg-gray-50 dark:hover:bg-opacity-5">
                        <div class="py-2 mr-4">
                            <img class="w-12 rounded-full max-w-none" src="/avatars/{{user['user_id']}}.jpg" alt="">
                        </div>
                        <div class="relative pt-2 grow">
                            <div class="flex text-sm"><span class="flex font-bold">
                                    {{user["user_first_name"] + " " + user["user_last_name"]}}
                                    <svg viewBox="0 0 24 24" aria-label="Verified account" role="img" class="w-4 ml-1 fill-twitter">
                                        <g>
                                            <path
                                                d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z">
                                            </path>
                                        </g>
                                    </svg>
                                </span><span class="ml-1 text-gray-600 dark:text-gray-400"><span>@{{user["user_name"]}}</span> ·
                                    <span>
                                        25m</span></span>
                            </div>
                            <div>
                                <p class="text-sm text-gray-900 dark:text-gray-200">{{tweet["tweet_message"]}}</p>
                                % if tweet.get('tweet_image'):
                                <img src="/tweets/{{tweet['tweet_image']}}.jpg" class="object-contain w-full mt-4 rounded-lg max-h-96">
                                % end
                            </div>
                            <div
                                class="flex justify-between w-full max-w-md py-3 text-gray-800 fill-gray-800 dark:text-gray-200 dark:fill-gray-200">
                                <div class="flex items-center justify-center cursor-pointer group">
                                    <div
                                        class="flex items-center justify-center p-2 duration-200 rounded-full group-hover:bg-twitter group-hover:bg-opacity-10 group-hover:fill-twitter">
                                        <svg viewBox="0 0 24 24" aria-hidden="true" class="w-4">
                                            <g>
                                                <path
                                                    d="M1.751 10c0-4.42 3.584-8 8.005-8h4.366c4.49 0 8.129 3.64 8.129 8.13 0 2.96-1.607 5.68-4.196 7.11l-8.054 4.46v-3.69h-.067c-4.49.1-8.183-3.51-8.183-8.01zm8.005-6c-3.317 0-6.005 2.69-6.005 6 0 3.37 2.77 6.08 6.138 6.01l.351-.01h1.761v2.3l5.087-2.81c1.951-1.08 3.163-3.13 3.163-5.36 0-3.39-2.744-6.13-6.129-6.13H9.756z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                    <span class="text-xs duration-200 group-hover:text-twitter">{{tweet["tweet_replies"]}}</span>
                                </div>
                                <div class="flex items-center justify-center cursor-pointer group">
                                    <div
                                        class="flex items-center justify-center p-2 duration-200 rounded-full group-hover:bg-green-600 group-hover:bg-opacity-10 group-hover:fill-green-600">
                                        <svg viewBox="0 0 24 24" aria-hidden="true" class="w-4">
                                            <g>
                                                <path
                                                    d="M4.5 3.88l4.432 4.14-1.364 1.46L5.5 7.55V16c0 1.1.896 2 2 2H13v2H7.5c-2.209 0-4-1.79-4-4V7.55L1.432 9.48.068 8.02 4.5 3.88zM16.5 6H11V4h5.5c2.209 0 4 1.79 4 4v8.45l2.068-1.93 1.364 1.46-4.432 4.14-4.432-4.14 1.364-1.46 2.068 1.93V8c0-1.1-.896-2-2-2z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                    <span class="text-xs duration-200 group-hover:text-green-600">{{tweet["tweet_retweets"]}}</span>
                                </div>
                                <div onclick="like_unlike_tweet()" data-tweet="{{tweet['tweet_id']}}" data-liked="{{tweet['user_liked']}}" class="flex items-center justify-center cursor-pointer group">
                                    <div
                                        class="flex items-center justify-center p-2 duration-200 rounded-full group-hover:bg-red-600 group-hover:bg-opacity-10 group-hover:fill-red-600">
                                        <svg viewBox="0 0 24 24" aria-hidden="true" class="w-4 group {{'show-liked' if tweet['user_liked'] else 'show-unliked'}}">
                                            <g>
                                                    <path class="hidden group-[&.show-liked]:inline" d="M20.884 13.19c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path>
                                                    <path class="hidden group-[&.show-unliked]:inline" d="M16.697 5.5c-1.222-.06-2.679.51-3.89 2.16l-.805 1.09-.806-1.09C9.984 6.01 8.526 5.44 7.304 5.5c-1.243.07-2.349.78-2.91 1.91-.552 1.12-.633 2.78.479 4.82 1.074 1.97 3.257 4.27 7.129 6.61 3.87-2.34 6.052-4.64 7.126-6.61 1.111-2.04 1.03-3.7.477-4.82-.561-1.13-1.666-1.84-2.908-1.91zm4.187 7.69c-1.351 2.48-4.001 5.12-8.379 7.67l-.503.3-.504-.3c-4.379-2.55-7.029-5.19-8.382-7.67-1.36-2.5-1.41-4.86-.514-6.67.887-1.79 2.647-2.91 4.601-3.01 1.651-.09 3.368.56 4.798 2.01 1.429-1.45 3.146-2.1 4.796-2.01 1.954.1 3.714 1.22 4.601 3.01.896 1.81.846 4.17-.514 6.67z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <span class="text-xs duration-200 group-hover:text-red-600">{{tweet["tweet_likes"]}}</span>
                                </div>
                                <div class="items-center justify-center hidden cursor-pointer sm:flex group">
                                    <div
                                        class="flex items-center justify-center p-2 duration-200 rounded-full group-hover:bg-twitter group-hover:bg-opacity-10 group-hover:fill-twitter">
                                        <svg viewBox="0 0 24 24" aria-hidden="true" class="w-4">
                                            <g>
                                                <path d="M8.75 21V3h2v18h-2zM18 21V8.5h2V21h-2zM4 21l.004-10h2L6 21H4zm9.248 0v-7h2v7h-2z"></path>
                                            </g>
                                        </svg>
                                    </div>
                                    <span class="text-xs duration-200 group-hover:text-twitter">{{tweet["tweet_views"]}}</span>
                                </div>
                                <div class="flex items-center justify-center cursor-pointer group">
                                    <div
                                        class="flex items-center justify-center p-2 duration-200 rounded-full group-hover:bg-twitter group-hover:bg-opacity-10 group-hover:fill-twitter">
                                        <svg viewBox="0 0 24 24" aria-hidden="true" class="w-4.5">
                                            <g>
                                                <path
                                                    d="M17 4c-1.1 0-2 .9-2 2 0 .33.08.65.22.92C15.56 7.56 16.23 8 17 8c1.1 0 2-.9 2-2s-.9-2-2-2zm-4 2c0-2.21 1.79-4 4-4s4 1.79 4 4-1.79 4-4 4c-1.17 0-2.22-.5-2.95-1.3l-4.16 2.37c.07.3.11.61.11.93s-.04.63-.11.93l4.16 2.37c.73-.8 1.78-1.3 2.95-1.3 2.21 0 4 1.79 4 4s-1.79 4-4 4-4-1.79-4-4c0-.32.04-.63.11-.93L8.95 14.7C8.22 15.5 7.17 16 6 16c-2.21 0-4-1.79-4-4s1.79-4 4-4c1.17 0 2.22.5 2.95 1.3l4.16-2.37c-.07-.3-.11-.61-.11-.93zm-7 4c-1.1 0-2 .9-2 2s.9 2 2 2c.77 0 1.44-.44 1.78-1.08.14-.27.22-.59.22-.92s-.08-.65-.22-.92C7.44 10.44 6.77 10 6 10zm11 6c-.77 0-1.44.44-1.78 1.08-.14.27-.22.59-.22.92 0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2z">
                                                </path>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="absolute right-0 p-2 rounded-full top-1 xs:-right-2 hover:bg-twitter hover:bg-opacity-10 hover:fill-twitter dark:text-gray-400">
                                <svg viewBox="0 0 24 24" aria-hidden="true" class="w-4 fill-current">
                                    <g>
                                        <path
                                            d="M3 12c0-1.1.9-2 2-2s2 .9 2 2-.9 2-2 2-2-.9-2-2zm9 2c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm7 0c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2z">
                                        </path>
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                    % end
                </div><!-- Tweets end -->  
            </div>
        </div>
     
            
        % include("right", suggested_followers=suggested_followers);
    </div>
</div>

% include("footer")